{
  "db": {
    "host": "localhost",
    "port": "3306",
    "name": "telegram",
    "user": "root",
    "pass": "root"
  },
  "telegram": {
    "api_id": "12345678",
    "api_hash": "12345678901234567890123456789012",
    "phone": "+12345678901",
    "database_encryption_key": "key",
    "files_directory": "/app/data",
    "use_message_database": false,
    "use_secret_chats": false,
    "tdlib_verbosity": 2
  },
  "http": {
    "domain": "localhost"
  },
  "logger": {
    "level": "error"
  }
}
